
.gif-bar{
    overflow-y: scroll;
    height: 100vh;
}

.hide-scroll::-webkit-scrollbar{
    display: none;
}

.blackout{
    opacity: 0;
}

.hero-img{
    background-image: url('https://images.unsplash.com/photo-1549465220-1a8b9238cd48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2lmdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
    background-position: center;
    background-size: cover;
}
